{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Pytwask -- Welcome
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for('tweets.general_timeline') }}">Recent Timeline</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('tweets.user_timeline') }}">Your Timeline</a></li>
            <li><a href="{{ url_for('auth.signout') }}">Sign out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.signup') }}">Sign up</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if not current_user.is_authenticated %}
	    <aside>
	        <article class=flashes>
	            {% with messages = get_flashed_messages() %}
	                {% if messages %}
	                    <ul>
	                    {% for message in messages %}
	                        <li>{{ message }}</li>
	                    {% endfor %}
	                    </ul>
	                {% endif %}
	            {% endwith %}
	        </article>
	    
	        <form action="" method="post">
	            {{ form.hidden_tag() }}
	            <table>
	                {{ render_field(form.username, size=15, style="color:black;") }}
	                {{ render_field(form.password, size=15, style="color:black;") }}
	                {{ render_field(form.remember_me, style="color:black;") }}
	                {{ render_field(form.submit, style="float:right;color:black;") }}
	            </table>
	        </form>
	    </aside>
    {% endif %}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Pytwask is a simple twitter clone powered by Python, Flask, and Redis.</p>
        </header>
        <section>
            <h2>Github repositories</h2>
            <ol>
                <li>Frontend: pytwask (<a href="https://github.com/renweizhukov/pytwask">https://github.com/renweizhukov/pytwask</a>)</li>
                <li>Backend: pytwis (<a href="https://github.com/renweizhukov/pytwis">https://github.com/renweizhukov/pytwis</a>)</li>
            </ol>
        </section>
        <section>
            <h2>Contributors</h2>
            <ul>
                <li><a href="mailto:renwei2004@gmail.com">Wei Ren</a></li>
                <li><a href="mailto:iambjlee@hotmail.com">BJ Lee</a></li>
                <li><a href="mailto:gavinjhe@hotmail.com">Gavin He</a></li>
            </ul>
        </section>
    </article>
{% endblock %}
