{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Pytwask -- Signup
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for('auth.index') }}">Main</a></li>
        <li><a href="{{ url_for('tweets.general_timeline') }}">Recent Timeline</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <section class=flashes>
	    {% with messages = get_flashed_messages() %}
	        {% if messages %}
	            <ul>
	            {% for message in messages %}
	                <li>{{ message }}</li>
	            {% endfor %}
	            </ul>
	        {% endif %}
	    {% endwith %}
    </section>

    <section>
        <h1 style="clear:both">Create an account</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.username, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.password2, size=50) }}
                {{ render_field(form.submit, style="float:right;") }}
            </table>
        </form>
    </section>
{% endblock %}