{% extends "base.html" %}

{% block title %}
    {% if not general %}
        Pytwis -- {{ current_user.username }}'s Timeline
    {% else %}
        Pytwis -- Recent Timeline
    {% endif %}
{% endblock %}

{% block buttons %}
    <ul>
        {% if not general %}
            <li><a href="{{ url_for('general_timeline') }}">Recent Timeline</a></li>
            <li><a href="{{ url_for('user_settings') }}">Settings</a></li>
            <li><a href="{{ url_for('signout') }}">Sign out</a></li>
        {% else %}
            <li><a href="{{ url_for('index') }}">Main</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user_timeline') }}">Your Timeline</a></li>
                <li><a href="{{ url_for('signout') }}">Sign out</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if not general %}
        <aside>
            <article class=flashes>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </article>
    
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <textarea name="tweet" style="color:black;"></textarea>
                    </tr>
                
                    <tr>
                        <td> <input type="submit" value="Post" style="float:right;color:black;"></td>
                    </tr>
                </table>
            </form>
            
            <!-- TODO: Add follow/unfollow button if this is not the current user. -->
        </aside>
    {% endif %}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>
                {% if not general %}
                    {{ current_user.username }}'s Timeline
                {% else %}
                    Recent Timeline
                {% endif %}
            </h1>
        </header>
        
        <br>
        
        {% if not general %}
	        {% with tweets = current_user.get_user_timeline() %}
		        {% include "tweets.html" %}
	        {% endwith %}
        {% else %}
            {% with tweets = current_user.get_general_timeline() %}
                {% include "tweets.html" %}
            {% endwith %}
        {% endif %}
        
    </article>
{% endblock %}
