{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
    {% if not general %}
        Pytwask -- {{ current_user.username }}'s Timeline
    {% else %}
        Pytwask -- Recent Timeline
    {% endif %}
{% endblock %}

{% block buttons %}
    <ul>
        {% if not general %}
            <li><a href="{{ url_for('tweets.general_timeline') }}">Recent Timeline</a></li>
            <li><a href="{{ url_for('auth.user_settings') }}">Settings</a></li>
            <li><a href="{{ url_for('auth.signout') }}">Sign out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.index') }}">Main</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('tweets.user_timeline') }}">Your Timeline</a></li>
                <li><a href="{{ url_for('auth.signout') }}">Sign out</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if not general %}
        <aside>
            <article class=flashes>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </article>

            <form action="" method="post">
                {{ form.hidden_tag() }}
                <table>
                    {{ render_field(form.tweet, style="color:black;") }}
                    {{ render_field(form.submit, style="float:right;color:black;") }}
                </table>
            </form>
        </aside>
    {% endif %}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>
                {% if not general %}
                    {{ current_user.username }}'s Timeline
                {% else %}
                    Recent Timeline
                {% endif %}
            </h1>
        </header>
        
        <br>
        
        {% if not general %}
	        {% with tweets = current_user.get_user_timeline() %}
		        {% include "tweets.html" %}
	        {% endwith %}
        {% else %}
            {% with tweets = get_general_timeline() %}
                {% include "tweets.html" %}
            {% endwith %}
        {% endif %}
        
    </article>
{% endblock %}
