{% if tweets %}
    {% for tweet in tweets %}
        <ul class="tweets">
            <li>
                <div class="info">
                    {% if show_username %}
                        <h3>From: <a href="{{ url_for('tweets.user_history', username=tweet.username) }}">{{ tweet.username }}</a></h3>
                    {% endif %}
                    {{ moment(timestamp=tweet.post_datetime, local=True).fromNow() }}.
                </div>
                
                <p style="white-space: pre-wrap;">{{ tweet.body }}</p>
            </li>
        </ul>
        
        <hr>
    {% endfor %}
{% else %}
    No tweets yet.
{% endif %}