{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Pytwask -- {{ current_user.username }}'s Settings
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for('auth.index') }}">Main</a></li>
        <li><a href="{{ url_for('tweets.user_timeline') }}">Your Timeline</a></li>
        <li><a href="{{ url_for('auth.signout') }}">Sign out</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <section>
        <h1 style="clear:both">Following</h1>
        
        {% with followings = current_user.get_followings() %}
            {% if followings %}
                {% for following in followings %}
                    <h3><a href="{{ url_for('tweets.user_history', username=following) }}">{{ following }}</a></h3>
                {% endfor %}
            {% else %}
                No followings yet.
            {% endif %}
        {% endwith %}
    </section>
    
    <br>
    
    <section>
        <h1 style="clear:both">Followed by</h1>
        
        {% with followers = current_user.get_followers() %}
            {% if followers %}
                {% for follower in followers %}
                    <h3><a href="{{ url_for('tweets.user_history', username=follower) }}">{{ follower }}</a></h3>
                {% endfor %}
            {% else %}
                No follower yet.
            {% endif %}
        {% endwith %}
    </section>

    <br>

    <section class=flashes>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>
    
    <section>
        <h1 style="clear:both">Change your password</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.old_password, size=50) }}
                {{ render_field(form.new_password, size=50) }}
                {{ render_field(form.new_password2, size=50) }}
                {{ render_field(form.submit, style="float:right;") }}
            </table>
        </form>
    </section>
{% endblock %}